<%- include("../partials/header") %>

<div class="row m-4">
    <div class="col-3">
        <div class="card">

            <!-- Card image -->
            <img class="card card-img img-fluid w-100" src="https://images.unsplash.com/photo-1518002171953-a080ee817e1f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="Card image cap">

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h2 class="card-title"><a></a></h2>
                <!-- Text -->
                <div class="ui segment teal lighten-5">
                    <li class"nav-item"><span class="ml-3">Products</span></li>
                </div>
                <div class="ui segment teal lighten-5">
                    <li class"nav-item"><span class="ml-3">Orders</span></li>
                </div>
                <div class="ui segment teal lighten-5">
                    <li class"nav-item"><span class="ml-3">Progress</span></li>
                </div>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="ui segment">
            <h3 class="header">Add a New Product</h3>
            <div class="card p-4">
                <form class="ui form" action="/products" method="POST" enctype="multipart/form-data">
                    <div class="field">
                        <label>Name</label>
                        <input type="text" name="product[title]"
                            placeholder="title">
                    </div>
                    <div class="field">
                        <label>Subtitle</label>
                        <input type="text" name="product[stitle]" placeholder="subtitle">
                    </div>
                    <div class="field">
                        <label>Description</label>
                        <input type="text" name="product[description]" placeholder="Product Description">
                    </div>
                    <div class="field">
                        <label>Brand</label>
                        <input type="text" name="product[brand]" placeholder="Brand">
                    </div>
                    <div class="field">
                        <label>image</label>
                        <input type="file" accept="image/*" name="image" placeholder="image">
                    </div>
                    <div class="field">
                        <label>Category</label>
                        <select class="ui fluid dropdown" name="product[category]">
                            <option value="Men's Wear">Men's Wear</option>
                            <option value="Women's Wear">Women's Wear</option>
                            <option value="Electronics">Electronics</option>
                            <option value="Home Essentials">Home Essentials</option>
                            <option value="Sports, Books & More">Sports, Books & More</option>
                            <option value="Body Essentials">Body Essentials</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Sub-category</label>
                        <select class="ui fluid dropdown" name="product[sub_category]">
                            <% category.forEach(function(category){ %>
                                <option value="<%=category.title %>"><%=category.main_category %> / <%=category.title %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="field">
                        <label>Price</label>
                        <input type="Number" name="product[price]" placeholder="Price per Unit">
                    </div>
                    <button class="ui button" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


<%- include("../partials/footer") %>